<!DOCTYPE html>
{% spaceless %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HTMaze - Task #{{ task.index }}</title>
    {% assets "scripts" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "styles_task" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
    <script type="text/javascript">
        htmaze.init({{ task.html|safe }}, {{ task.css|safe }}, {{ task.css_args|safe }});
    </script>
</head>
<body>
    <div id="layout">
        <div id="toolbar">
            <span>The HTMaze &dash; task #{{ task.index }}</span>
            <a href="{{ url.content }}">Contents</a>
            <a href="{{ url.help }}">Help</a>
        </div>
        <div id="page" class="split-view horizontal">
            <div id="workspace" class="split-view vertical">
                <div id="workspace-html" class="view">
                    <div class="header">HTML Workspace</div>
                    <div class="elements"></div>
                    <div class="code">
                        <div class="cursor"></div>
                    </div>
                </div>
                <div id="workspace-css" class="view">
                    <div class="header">CSS Workspace</div>
                    <div class="elements"></div>
                    <div class="code"></div>
                </div>
            </div>
            <div id="preview" class="split-view vertical">
                <div id="preview-results" class="view">
                    <div class="header">Results Preview</div>
                    <div class="area"></div>
                </div>
                <div id="preview-target" class="view">
                    <div class="header">Task Target</div>
                    <div class="area"></div>
                </div>
            </div>
            <div id="solved">
                <div>
                    <div>Solved!</div>
                    {% if task.has_next %}
                        <a href="{{ url.next_task }}">Next</a>
                    {% endif %}
                    <a href="{{ url.content }}">Contents</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endspaceless %}
